.wbf-single-field label {
    font-weight: 600;
    display: block;
    margin-bottom: 2px;
}

.wbf-single-field {
    margin-bottom: 25px;
    display: grid;
    grid-template-columns: 30% 70%;
}

.components-panel .wbf-single-field {
    display: block;
}

.wpbf-subfield__row {
    border: 1px solid #999999;
    padding: 10px;
    position: relative;
}

.wpbf-subfield:not(.wpbf-subfield-rowcount-1) .wpbf-subfield__row:not(:first-child) {
    border-top: 0;
}

.button.wpbf-subfield__add_btn {
    margin-top: 20px;
}

.wbf-single-field input[type='text'],
.wbf-single-field input[type='password'],
.wbf-single-field input[type='date'],
.wbf-single-field input[type='color'],
.wbf-single-field input[type='color'],

/**
 * File field 
 */
.wpbc-image-field__image-wrap {
    position: relative;
}

.wpbc-image-field__image-wrap-delete {
    position: absolute;
    right: 0;
    cursor: pointer;
}

ul.wpbf-image-field {
    margin-left: 0 !important;
    display: grid;
    grid-template-columns: 150px 150px 150px 150px;
}

ul.wpbf-image-field li {
    list-style: none;
}

.wpbf-field {
    padding: 7px;
}

a.wpbf-subfield__delete_btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    height: 25px;
    background: #f9f9f9;
    text-align: center;
    cursor: pointer;
    color: #999;
}

a.wpbf-subfield__delete_btn:hover {
    background: #343232;
    color: #fff;
}

.wbf-subsingle-field {
    margin-bottom: 20px;
}

.wpbf-color-picker {
    position: relative;
  }
  
.wpbf-color-picker__swatch {
    width: 28px;
    height: 28px;
    border-radius: 8px;
    border: 3px solid #fff;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.wpbf-color-picker__popover {
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    border-radius: 9px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    z-index: 100;
}

.wpbf-field textarea {
    max-width: 100%;
}